* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

.app {
    height: 2000px;
}

.header {
    height: var(--header-height);
    width: 100%;
    background-image: linear-gradient(#f63e2e,#ff6533);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000000;
}

.navbar {
    
}

.top {
    color: var(--white-color);
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.list  {
    list-style: none;
    font-size: .8125rem;
    position: relative;
}

.items {
    display: inline-block;
    margin: 10px 8px;
    line-height: 1.2;
    position: relative;
    cursor: pointer;
}

.items:hover,
.items-link:hover {
    color: #ffc1bb;
}

.items--has-separate::before {
    display: block;
    content: "";
    height: 16px;
    width: 2px;
    background-color: #f96c5c;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
}

.items--has-qr:hover .QR-code {
    display: block;
    animation: growth 0.25s ease-in;
}

.items--has-brigde::after {
    display: block;
    content: "";
    height: 20px;
    width: 100%;
    top: 12px;
    position: absolute;
}

/* Header QR */
.QR-code {
    width: 184px;
    height: 250px;
    border-radius: 2px;
    position: absolute;
    top: 144%;
    display: none;
    overflow: hidden;
    background-color: #fff;
}

.qr-img {
    width: 100%;
    height: 176px;
}

.icon-app {
    text-decoration: none;
}

.icon-img {
    height: 18px;
    width: 70px;
    margin: 2px 8px 0 12px;
}

.items-link {
    color: var(--white-color);
    position: relative;
    text-decoration: none;
}

.icon-link {
    text-decoration: none;
}

.icon {
    font-size: 1rem;
    color: var(--white-color);   
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.icon-link-fb {
    padding: 4px;
}
.icon-link-insta {
    margin-left: 24px;
}

.icon-link {
    font-size: 1rem;
}

.bottom {
    display: flex;
    height: calc(var(--header-height) - var(--navbar-height));
    margin-top: 10px;
}

.logo {
    height: 50px;
    width: 162px;
    margin-left: 6px;
}

.search {
    
}

.search-input {
    width: 840px;
    height: 40px;
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    align-items: center;
    margin-top: 6px;
    margin-left: 46px;
}

.search-text {
    height: 34px;
    width: 764px;
    margin-left: 16px;
    border: 0;
    outline: none;
}

.search-btn {
    width: 60px;
    height: 34px;
    border: 0;
    border-radius: 2px;
    background-color: var(--primary-color);
    margin-right: 4px;
}

.search-btn__icon {
    color: var(--white-color);
    font-size: 1rem;
}

.search-info {
    width: 450px;
    height: 14px;
}

.search-list {
    list-style: none;
    display: flex;
    width: 450px;
    margin-left: 46px;
    margin-top: 6px;
    justify-content: space-between;
}

.search-items {
    color: var(--white-color);
    font-size: 12px;
    font-weight: 200;
}

.shopping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 68px;
    position: relative;
}

.cart-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 36px;
}

.cart--has-triangle::before {
    display: block;
    content: "";
    height: 20px;
    width: 31px;
    position: absolute;
    top: -20px;
    right: 4px;
}

.cart--has-triangle::after {
    display: block;
    content: "";
    position: absolute;
    top: -24px;
    right: 2px;
    border-width: 12px 18px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
}

.cart-logo-img {
    font-size: 24px;
    color: var(--white-color);
    cursor: pointer;
    padding: 6px;
}

.cart-info {
    position: relative;
    width: 400px;
    height: 250px;
    background-color: #fff;
    position: absolute;
    right: 46px;
    top: 60px;
    border-radius: .125rem;
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    border: 1px solid rgb(219, 219, 219);
    display: none;
}

.no-cart-img {
    width: 170px;
    height: 100px;
    margin-bottom: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cart-text {
    margin-top: 190px;
    color: rgb(100, 100, 100);
    text-align: center;
}

/* Container */
.container-top {
    width: 1536px;
    height: 354px;
    background-color: #fff;
    padding-top: var(--header-height);
    margin-top: 30px;
}

.carousel {
    display: flex;
}

.sidebar-left {
    position: relative;
}

.sidebar-left:hover .triangle-left,
.sidebar-left:hover .triangle-right {
    display: block;
}

.triangle-right:hover,
.triangle-left:hover {
    background-color: rgba(82, 82, 82, 0.5);
}

.triangle-right,
.triangle-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background-color: rgba(145, 145, 145, 0.5);
    border-radius: 2px;
    display: none;
}

.triangle-right {
    right: 8px;
    width: 35px;
}

.triangle-left {
    left: 0;
    width: 35px;
}

.icon-triangle {

}

.extra {
    height: 108px;
    background-color: #fff;
}

.img-1 {
    height: 236px;
    width: 796px;
    margin-right: 8px;
}
.img-2 {
    height: 116px;
    width: 398px;
}
.img-3 {
    height: 116px;
    width: 398px;
}

.extra-items {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.extra-items-1 {
    width: 100px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.extra-items-1:hover {
    transform: translateY(-1px);
}

.extra-items-img {
    height: 45px;
    width: 45px;
    margin-top: 10px;
}

.extra-items-text {
    height: 28px;
    width: 100px;
    font-size: .8125rem;
    line-height: .875rem;
    word-wrap: break-word;
    text-align: center;
    margin-top: 10px;
}

.extra-items-1 p:nth-child(7),
.extra-items-1 p:nth-child(8) {
    padding-bottom: 13px;
}

.row-1 {
    height: 584px;
    background-color: #f5f5f5;
}

.row-1-head {
    height: 110px;
    padding: 20px 0 20px;
}

.row-1-head-img {
    height: 110px;
}

.row-1-container {
    height: 448px;
    background-color: #fff;
}

.r1-left {
    width: 578px;
    height: 297px;
}

.detail {
    color: var(--primary-color);
    list-style: none;
    padding: 8px 5px;
}

.r1-list {
    width: 578px;
    display: flex;
    justify-content: space-between;
}

.r1-list-items {
    padding: 0 15px;
    width: 162px;
    height: 237px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.r1-list-items::after {
    display: block;
    content: "21% GIẢM";
    height: 52px;
    width: 50px;
    text-align: center;
    background-color: #ffd839;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 78%, 0 100%);
    position: absolute;
    top: 0;
    right: 1px;
}

.list-product {
    height: 162px;
    width: 162px;
}

.text-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 17px;
}

.detail:last-child {
    font-size: 12px;
}

.list-product-text {
    margin-top: 6px;
    color: var(--primary-color);
}

.r1 {
    background-color: #ffecdb;
    display: flex;
    justify-content: space-between;
    margin: 0 17px;
    margin-top: -6px;
    border-radius: 0 0 10px 10px;
}

.r1-right {
    width: 578px;
    height: 297px;
}

.row-2 {
    height: 364px;
    background-color: #000;
}